<!DOCTYPE html>
<html lang="en-US" >



<!-- Mirrored from www.dsngrid.com/cuby/projects/black-monday/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 05 Dec 2019 21:03:47 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="profile" href="https://gmpg.org/xfn/11">
	
	<title>E-Summit'20</title>
<link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
<link rel='dns-prefetch' href='http://s.w.org/' />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/www.dsngrid.com\/cuby\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.3"}};
			!function(e,a,t){var r,n,o,i,p=a.createElement("canvas"),s=p.getContext&&p.getContext("2d");function c(e,t){var a=String.fromCharCode;s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,e),0,0);var r=p.toDataURL();return s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,t),0,0),r===p.toDataURL()}function l(e){if(!s||!s.fillText)return!1;switch(s.textBaseline="top",s.font="600 32px Arial",e){case"flag":return!c([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])&&(!c([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!c([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]));case"emoji":return!c([55357,56424,55356,57342,8205,55358,56605,8205,55357,56424,55356,57340],[55357,56424,55356,57342,8203,55358,56605,8203,55357,56424,55356,57340])}return!1}function d(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(i=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},o=0;o<i.length;o++)t.supports[i[o]]=l(i[o]),t.supports.everything=t.supports.everything&&t.supports[i[o]],"flag"!==i[o]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[i[o]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(r=t.source||{}).concatemoji?d(r.concatemoji):r.wpemoji&&r.twemoji&&(d(r.twemoji),d(r.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}


</style>
	<link rel='stylesheet' id='wp-block-library-css'  href='wp-includes/css/dist/block-library/style.minde54.css?ver=5.3' type='text/css' media='all' />
<link rel='stylesheet' id='contact-form-7-css'  href='wp-content/plugins/contact-form-7/includes/css/styles58e0.css?ver=5.1.4' type='text/css' media='all' />
<link rel='stylesheet' id='cuby-google-fonts-css'  href='http://fonts.googleapis.com/css?family=Poppins%3A400%2C600%2C700%2C900%7CPlayfair+Display%3A400%2C700%2C900%7CFjalla+One%26amp%3B&amp;subset=latin-ext&amp;ver=1.3.1' type='text/css' media='all' />
<link rel='stylesheet' id='bootstrap-css'  href='wp-content/themes/cuby/assets/css/plugins/bootstrap.minde54.css?ver=5.3' type='text/css' media='all' />
<link rel='stylesheet' id='fontawesome-all-css'  href='wp-content/themes/cuby/assets/css/plugins/fontawesome-all.minde54.css?ver=5.3' type='text/css' media='all' />
<link rel='stylesheet' id='animate-css'  href='wp-content/themes/cuby/assets/css/plugins/animatede54.css?ver=5.3' type='text/css' media='all' />
<link rel='stylesheet' id='slick-css'  href='wp-content/themes/cuby/assets/css/plugins/slickde54.css?ver=5.3' type='text/css' media='all' />
<link rel='stylesheet' id='jquery-fancybox-css'  href='wp-content/themes/cuby/assets/css/plugins/jquery.fancybox.minde54.css?ver=5.3' type='text/css' media='all' />
<link rel='stylesheet' id='aos-css'  href='wp-content/themes/cuby/assets/css/plugins/aosde54.css?ver=5.3' type='text/css' media='all' />
<link rel='stylesheet' id='cuby-custom-style-css'  href='wp-content/themes/cuby/assets/css/stylee7f0.css?ver=1.3.1' type='text/css' media='all' />
<link rel='stylesheet' id='cuby-responsive-css-css'  href='wp-content/themes/cuby/assets/css/responsivee7f0.css?ver=1.3.1' type='text/css' media='all' />
<script type='text/javascript' src='wp-includes/js/jquery/jquery4a5f.js?ver=1.12.4-wp'></script>
<script type='text/javascript' src='wp-includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1'></script>
<link rel='https://api.w.org/' href='wp-json/index.html' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="../xmlrpc0db0.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="wp-includes/wlwmanifest.xml" /> 



<style>
        #myVideo {
         position: absolute;
         right: 0;
         bottom: 0;
         min-width: 100%; 
         min-height: 100%;
       }
       .site-header .extend-container .main-navigation ul li a{
           color: white;
       }
       </style>

<link rel="alternate" type="application/json+oembed" href="wp-json/oembed/1.0/embedcd9e.json?url=https%3A%2F%2Fwww.dsngrid.com%2Fcuby%2Fprojects%2Fblack-monday%2F" />
<link rel="alternate" type="text/xml+oembed" href="wp-json/oembed/1.0/embed3504?url=https%3A%2F%2Fwww.dsngrid.com%2Fcuby%2Fprojects%2Fblack-monday%2F&amp;format=xml" />
<!-- Analytics by WP-Statistics v12.6.7 - https://wp-statistics.com/ -->
<style type="text/css" id="custom-background-css">
body.custom-background { background-color: #1b1b1b; }
</style>
	    <style>
        .site-header .extend-container .inner-header .main-logo, .header-top .header-container .logo img  , .footer .content-block .column-logo img{
            width: 80px;
        }
        .site-header .custom-logo-link h4, .header-top .custom-logo-link h4 , footer .custom-logo-link h4{
            font-size: 30px;
        }

    </style>
<link rel="icon" href="images/2.png" sizes="32x32" />
<link rel="icon" href="images/2.png" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="wp-content/uploads/sites/2/2019/01/cropped-logo-180x180.png" />
<link rel="stylesheet" type="text/css" href="css/particles.css" />
<link rel="stylesheet" type="text/css" href="css/base.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body class="projects-template-default single single-projects postid-69 custom-background wp-custom-logo " data-dsn-grid-mousemove="true">

<div class="dsn-loader">
    <div class="dsn-up"></div>
    <div class="dsn-progress-page"></div>
    <div class="dsn-down"></div>
</div>


<div class="header-top nav-mobile">
    <div class="header-container">

        <div class="logo light_logo">
			<a href="/"  style="width: 50px;max-width: none;"  class="custom-logo-link" rel="home"><img width="300" height="150" src="images/2.png" class="custom-logo" alt="Cuby" /></a>        </div>


        <div class="menu-icon" data-dsn-grid="parallax">
            <div class="icon-m">
                <i class="menu-icon-close fas fa-times"></i>
                <span class="menu-icon__line menu-icon__line-left"></span>
                <span class="menu-icon__line"></span>
                <span class="menu-icon__line menu-icon__line-right"></span>
            </div>
        </div>

        <div class="nav">
            <div class="inner">

                <div class="nav__content">
					<ul id="cuby-primary-list" class="nav__list"><li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-17" class="menu-item menu-item-type-post_type menu-item-object-page hdev-menu-item-17"><a title="Home" style="color: black;font-size: 17px;font-weight: bold;" href="/landing" id="hdev-nav-link-list-17">Home</a>

</li>
<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-202" class="menu-item menu-item-type-post_type menu-item-object-page hdev-menu-item-202"><a title="About" href="#page-69">About</a></li>

<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-85" class="menu-item menu-item-type-post_type menu-item-object-page hdev-menu-item-85"><a title="Work" href="/events" id="hdev-nav-link-list-85">Events</a>

</li>
<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-147" class="menu-item menu-item-type-post_type menu-item-object-page hdev-menu-item-147"><a title="Blog" href="/workshops" id="hdev-nav-link-list-147">Workshops</a>

</li>
<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-post_type menu-item-object-page hdev-menu-item-147 hdev-nav-item"><a title="Blog" href="/speakers" id="hdev-nav-link-147">Speakers</a>
</li>
<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-155" class="menu-item menu-item-type-post_type menu-item-object-page hdev-menu-item-155"><a title="contact" href="/contact">Contact</a></li>
</ul>                    <address>
                        <span>E-Summit</span>
                        <span>IIT(BHU) Varanasi</span>
                    </address>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="site-header ">
    <div class="extend-container">
        <div class="inner-header">
            <div class="main-logo">
				<a href="/" style="width: 50px;max-width: none;" class="custom-logo-link" rel="home"><img width="300" height="150" src="images/2.png" class="custom-logo" alt="Cuby" /></a>            </div>

        </div>
        <nav class=" accent-menu main-navigation">
			<ul id="cuby-primary" class="extend-container"><li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-post_type menu-item-object-page hdev-menu-item-17 hdev-nav-item"><a title="Home" href="/landing" id="hdev-nav-link-17">Home</a>

</li>
<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-post_type menu-item-object-page hdev-menu-item-202 hdev-nav-item"><a title="About" href="#post-69">About</a></li>
<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-post_type menu-item-object-page hdev-menu-item-85 hdev-nav-item"><a title="Work" href="/events" id="hdev-nav-link-85">Events</a>
</li>

<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-post_type menu-item-object-page hdev-menu-item-147 hdev-nav-item"><a title="Blog" href="/workshops" id="hdev-nav-link-147">Workshops</a>
</li>
<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-post_type menu-item-object-page hdev-menu-item-147 hdev-nav-item"><a title="Blog" href="/speakers" id="hdev-nav-link-147">Speakers</a>
</li>
<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-post_type menu-item-object-page hdev-menu-item-155 hdev-nav-item"><a title="contact" href="/contact">Contact</a></li>
</ul>        </nav>
    </div>
</div>


<!-- End Sticky Menu
================================================== -->
<main class="root">
    <div class="dsn-grid-color">
    <header class="header-project content">
            <video autoplay muted loop id="myVideo">
                    <source src="landing.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                  </video>
        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="col-12 content text-center">
					                        <h3 class="content__title">Breaking Barriers</h3>
					                    <h2 class="content__title">
                        E-SUMMIT'2020                    </h2>
                        <h4 style="font-size: 17px;color: white;font-weight: bold;font-family: "Playfair Display", serif;margin-top: 10px;">01st-02nd February'20</h4>
                        <div class="grid__item theme-1" style="height: max-content;">
                            <button class="action"><svg class="icon icon--rewind"><use xlink:href="#icon-rewind"></use></svg></button>
                            <button class="particles-button">Register</button>
                        </div>
                </div>
            </div>
        </div>
    </header>

<div id="post-69" class="dsn-single-projects post-69 projects type-projects status-publish has-post-thumbnail hentry projects_categories-branding" >
	<section class="intro section-padding pb-0" data-aos="fade-up">
    <div class="container">
        <div class="row">

            <div class="col-lg-6">
                <div class="info-title">
                    <h1>— E-SUMMIT</h1>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="intro-description">
                    <h5>About US</h5>
                    <div class="dsn-content">
                        <p>The Entrepreneurship Cell(E-Cell), IIT BHU is a conglomerate of individuals with a vision, a dream. It is a place for all those who shrink from taking beaten paths and believe in leaving trails in all walks of life. We aim at manifesting the latent entrepreneurial spirit and fostering the entrepreneurial flair among the student community.Our flagship event, Entrepreneur Summit 2020 is an excellent opportunity for young and aspiring entrepreneurs to turn their startup dreams into reality. This extravagant event provides a perfect platform for the unsung heroes of our economy to interact with prospective investors by pitching their ideas. E-Summit aspires to help the enthusiasts to gain knowledge from people who have seen the in and out of entrepreneurial sector over many years. So what are you waiting for? Join us to think, ideate, express, achieve and get ready to step into the Festival to sneak at how the future like.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




	





<div class="content-block section-padding pb-0  dsn-not-move" data-aos="fade-up">
    <div class="container">
        <div class="row videopp">
            <div class="col-12">
				                    <div class="dsn-video" data-dsn-video='<iframe title="E-SUMMIT" src="entrance.mp4" width="560" height="340" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>'>
						<img width="960" height="540" src="images/poster1.jpeg" class="attachment-large size-large" alt="" srcset="images/poster1.jpeg 1280w" sizes="(max-width: 960px) 100vw, 960px" />                    </div>
				            </div>
        </div>
    </div>
</div>

<div class="container" style="margin: 75px 0;margin-top: 150px;background: rgb(34,193,195);background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);padding: 40px 10px;max-width: none;">
        <div class="row" style="text-align: center;">
            <div style="margin-top: 15px;" class="col-md-3"><h4>60+</h4><p style="color: black;">Speakers</p></div>
            <div style="margin-top: 15px;" class="col-md-3"><h4>20+</h4><p style="color: black;">Events</p></div>
            <div style="margin-top: 15px;" class="col-md-3"><h4>1.5 Million</h4><p style="color: black;">Worth Prize Money</p></div>
            <div style="margin-top: 15px;" class="col-md-3"><h4>Early Bird Registration</h4><p style="color: black;">Closes on 10 Jan</p></div>
            
        </div>
    </div>
<div class="content-block section-padding pb-0" data-aos="fade-up">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="is-content text-center">
                    <p>Entrepreneurship offers a viable and proven pathway to economic growth and personal fulfillment.  E-Summit'20 aims to embed the culture of entreprenuership in the young minds where they believe in pursuing purpose beyond profits. </p>
                </div>
            </div>
        </div>
    </div>
</div>







	        <div class="content-block section-padding pb-0 proj-full" data-aos="fade-up">
            <div class="box-im">
				<img width="1920" height="750" src="images/entrepreneurship.jpg" sizes="(max-width: 1920px) 100vw, 1920px" />            </div>
        </div>
	




<section class="content-block box-desc  section-padding pb-0" data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="mb-30">What's<br />
in it for You?</h3>
                <p>Come and be a part of our family by competing in various events and enrolling into different workshops hosted by renowned personalities. Take a step forward towards the entrepreneurship future where you can make yourself a next buisness tycoon.</p>
            </div>
        </div>
    </div>
</section>




    <div class="proj-container p-img pt-0">
        <div class="container">
            <div class="row">
				    <div class="col-lg-6" data-aos="fade-up">
                        <div class="box-im">
                            <div class="image-zoom" data-dsn-grid="parallax" data-dsn-grid-move="20">
                                <a target="_blank" href="/events">
								<img width="500" height="800" src="images/event.png" class="attachment-cuby_image_zoom size-cuby_image_zoom" alt="" />  </a>                          </div>
                            <div class="caption">Events, 2020 - Esummit</div>
                        </div>
                    </div>
				                    <div class="col-lg-6" data-aos="fade-up">
                        <div class="box-im">
                            <div class="image-zoom" data-dsn-grid="parallax" data-dsn-grid-move="20">
                                <a target="_blank"
                                   href="/workshops">
								<img width="500" height="800" src="images/workshop.png" class="attachment-cuby_image_zoom size-cuby_image_zoom" alt="" />              </a>              </div>
                            <div class="caption">Workshops, 2020 - Esummit</div>
                        </div>
                    </div>
				                    <div class="col-lg-6" data-aos="fade-up">
                        <div class="box-im">
                            <div class="image-zoom" data-dsn-grid="parallax" data-dsn-grid-move="20">
                                <a target="_blank"
                                   href="/speakers">
								<img width="500" height="800" src="images/speaker.jpg" class="attachment-cuby_image_zoom size-cuby_image_zoom" alt="" />             </a>               </div>
                            <div class="caption">Speakers, 2020 - Esummit</div>
                        </div>
                    </div>
				                    <div class="col-lg-6" data-aos="fade-up">
                        <div class="box-im">
                            <div class="image-zoom" data-dsn-grid="parallax" data-dsn-grid-move="20">
                                <a target="_blank"
                                   href="/panel-discussion">
								<img width="500" height="800" src="images/panel.jpg" class="attachment-cuby_image_zoom size-cuby_image_zoom" alt="" />                </a>            </div>
                            <div class="caption">Talks &amp; Panel Discussion, 2020 - Esummit</div>
                        </div>
                    </div>
				
            </div>
        </div>
    </div>

	





<div class="dsn-quote section-padding pb-0" data-aos="fade-up" style="margin-bottom: 65px;">
    <div class="container">
        <div class="row justify-content-center sticky-container">

            <div class="col-lg-8">
                <div class="quote-content">
                    <svg class="icon--quote" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink"
                         x="0px" y="0px" viewBox="0 0 55 55" style="enable-background:new 0 0 55 55;"
                         xml:space="preserve" role="img" aria-label="Quote Icon">
                                    <path class="ring" d="M27.5,3C41,3,52,14,52,27.5S41,52,27.5,52S3,41,3,27.5S14,3,27.5,3 M27.5,0C12.3,0,0,12.3,0,27.5
                                        S12.3,55,27.5,55S55,42.7,55,27.5S42.7,0,27.5,0L27.5,0z"></path>
                        <path class="marks" d="M26.9,22.1c-3.4,0.4-6,2.4-6,5.8c0,0.4,0.2,0.4,0.4,0.2c0.5-0.5,1.4-0.7,2.2-0.7c1.6,0,3,1.1,3,3.3
                                        c0,1.8-1.6,3.3-3.4,3.3c-2.7,0-4-2.2-4-5.1c0-5.1,4.3-7.3,7.6-7.5L26.9,22.1z M36,22.1c-3.3,0.4-5.9,2.4-5.9,5.8
                                        c0,0.4,0.2,0.4,0.3,0.2c0.5-0.5,1.4-0.7,2.2-0.7c1.6,0,3.1,1.1,3,3.3c0,1.8-1.6,3.3-3.4,3.3c-2.7,0-4.1-2.2-4.1-5.1
                                        c0-5.1,4.3-7.3,7.6-7.5L36,22.1z"></path>
                                </svg>

                    <p>&#8220;This festival would be a great place for all the folks their to showcase there inner talents in the field of entrepreneurship. So just buckle up and get ready to come to a stage which can be a game changer for you.&#8221;</p>

                    <h5>Mayank Lakhani - Convenor, E-Summit'20</h5>
                </div>
            </div>
        </div>
    </div>
</div>




<!--     <div class="proj-slider section-padding pb-0" data-aos="fade-up">
        <div class="container-fluid p-0">

            <div class="proj-slider-image">
				                    <div class="item-project">
						<img width="960" height="630" src="wp-content/uploads/sites/2/2019/01/slider-3-960x630.jpg" class="attachment-cuby_image size-cuby_image" alt="" />                    </div>
				                    <div class="item-project">
						<img width="960" height="630" src="wp-content/uploads/sites/2/2019/01/slider-1-960x630.jpg" class="attachment-cuby_image size-cuby_image" alt="" />                    </div>
				                    <div class="item-project">
						<img width="960" height="630" src="wp-content/uploads/sites/2/2019/01/slider-2-960x630.jpg" class="attachment-cuby_image size-cuby_image" alt="" />                    </div>
				            </div>
        </div>
    </div> -->





</div>


<footer class="footer section-padding">
        <div class="content-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="column-logo">
							<a href="/" class="custom-logo-link" rel="home"><img width="300" height="150" style="width: 150px;" src="images/1.png" class="custom-logo" alt="Cuby" /></a>                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3">
                        <div class="column-contact">
                            <h4>
								                                    <a href="mailto:ecell@iitbhu.ac.in">ecell@iitbhu.ac.in</a>
								                            </h4>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
						                            <div class="social-content mb-30">
                                <ul>
									<li data-dsn-grid="parallax" data-dsn-grid-move="20"><a href="https://www.facebook.com/ecelliitvaranasi/" target="_blank" title="Facebook" rel="nofollow">Facebook</a></li><li data-dsn-grid="parallax" data-dsn-grid-move="20"><a href="https://twitter.com/ecelliitbhu" target="_blank" title="Twitter" rel="nofollow">Twitter</a></li><li data-dsn-grid="parallax" data-dsn-grid-move="20"><a href="https://www.instagram.com/ecelliitbhu/" target="_blank" title="Google Plus" rel="nofollow">Instagram</a></li>                             </ul>
                            </div>
						
                        <div class="column-content">
							E-CELL &copy;2020. All Rights Reserved.                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <div data-dsn-grid="progress-circle" data-dsn-grid-stroke="#fff">
        <div class="icon__fixed" data-dsn-grid="parallax">
            <i class="fas fa-angle-up"></i>
        </div>
    </div>

    <div class="dsn-hover dsn-left-hover">

        <a href="#" class="custom-btn">
            <span class="custom-btn__label btn__label-left">Next</span>

            <span class="custom-btn__icon">

                        <span class="custom-btn__icon-small">
                            <!--?xml version="1.0" encoding="utf-8"?-->
                            <!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                 x="0px" y="0px" viewBox="0 0 100 100" xml:space="preserve">
                                <polygon points="33.7,95.8 27.8,90.5 63.9,50 27.8,9.5 33.7,4.2 74.6,50 "></polygon>
                            </svg>

                        </span>

                        <span class="custom-btn__icon-circle">
                            <!--?xml version="1.0" encoding="utf-8"?-->
                            <!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                 x="0px" y="0px" viewBox="0 0 100 100" xml:space="preserve">
                                <path class="bottomcircle-s"
                                      d="M18.2,18.2c17.6-17.6,46-17.6,63.6,0s17.6,46,0,63.6s-46,17.6-63.6,0"></path>
                                <path class="topcircle-s"
                                      d="M18.2,18.2c17.6-17.6,46-17.6,63.6,0s17.6,46,0,63.6s-46,17.6-63.6,0"></path>
                            </svg>

                        </span>


                    </span>
            <span class="custom-btn__label btn__label-right">Prev</span>
        </a>

    </div>








</div>
</main>

<script type='text/javascript'>
/* <![CDATA[ */
var wpcf7 = {"apiSettings":{"root":"https:\/\/www.dsngrid.com\/cuby\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"cached":"1"};
/* ]]> */
</script>
<script type='text/javascript' src='wp-content/plugins/contact-form-7/includes/js/scripts58e0.js?ver=5.1.4'></script>
<script type='text/javascript' src='wp-content/themes/cuby/assets/js/popper.minde54.js?ver=5.3'></script>
<script type='text/javascript' src='wp-content/themes/cuby/assets/js/bootstrap.minde54.js?ver=5.3'></script>
<script type='text/javascript' src='wp-content/themes/cuby/assets/js/TweenLite.minde54.js?ver=5.3'></script>
<script type='text/javascript' src='wp-content/themes/cuby/assets/js/TweenMax.minde54.js?ver=5.3'></script>
<script type='text/javascript' src='wp-content/themes/cuby/assets/js/progressbar.minde54.js?ver=5.3'></script>
<script type='text/javascript' src='wp-content/themes/cuby/assets/js/fancybox.minde54.js?ver=5.3'></script>
<script type='text/javascript' src='wp-content/themes/cuby/assets/js/slick.minde54.js?ver=5.3'></script>
<script type='text/javascript' src='wp-content/themes/cuby/assets/js/aos.mainde54.js?ver=5.3'></script>
<script type='text/javascript' src='wp-content/themes/cuby/assets/js/dsn-gride7f0.js?ver=1.3.1'></script>
<script type='text/javascript' src='wp-includes/js/imagesloaded.min55a0.js?ver=3.2.0'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var cubyParam = {"projects":"https:\/\/www.dsngrid.com\/cuby\/wp-admin\/admin-ajax.php?action=cuby_posts","queries":"https:\/\/www.dsngrid.com\/cuby\/wp-admin\/admin-ajax.php?action=cuby_post_query","cuby_effect_aos":"1","cuby_effect_scroll":"1","cuby_effect_header":"1"};
/* ]]> */
</script>
<script type='text/javascript' src='wp-content/themes/cuby/assets/js/custome7f0.js?ver=1.3.1'></script>
<script type='text/javascript' src='wp-includes/js/wp-embed.minde54.js?ver=5.3'></script>
<script src='js/anime.min.js'></script>
<script src='js/particles.js'></script>
<script src='js/demo.js'></script>
</body>

</html>
