

@media (max-width:576px){
    .dsn-grid-info-wrapper {
        top: -71px!important;
    
    position: relative!important;
    }

    .dsn-grid-info-wrapper .title .word__wrapper{
        font-size: 32px!important;

width: max-content!important;
    }
    .dsn-grid-info-wrapper .custom-btn{
        top: 60px;
    }

    .product__title{
        margin-top: 25px!important;
    }
    .product img{
        margin-top: 15px!important;
    }
    .grid__item{
        height: 260px!important;
    }
    .filter{
        display: block !important;
        margin-top: 22px !important;
        font-size: 14px !important;
    }
    .details__img{
        display: none;   
    }
    .details__description{
        max-width: 85%!important;
        text-align: justify!important;
    }
}

@media (min-width:700px){
    .videopp{
        max-width: 700px!important;
    
    margin: 0 auto!important;
    }
    }




    